
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #8ab6ff, #ffffff);
}

a {
    display: flex;
    text-decoration: none;
    padding: 0.5rem 1.2rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    color: #A259FF;
    gap: 1rem;
}

.voltar{
    display: flex;
    font-size: 2rem;
    border: 0.01rem solid #4F46E5;
    padding: 1rem;
    width: 2.5rem;
    height: 1rem;
    align-items: center;
    justify-content: center;
}

.voltar:hover{
    color: white;
    background-color: #A259FF;
}

.Generico-container {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    text-align: center;
    width: 24rem;
}

.generico{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}