<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png" type="image/png">
    <title>Adicionar projeto.</title>
</head>
<body>
    <form id="addProject" method="post">
        <label for="nome">Nome do projeto:</label>
        <input type="text" id="nome" placeholder="Insira o nome..." required>

        <label for="desc">Descrição do projeto:</label>
        <input type="text" id="desc" placeholder="Insira uma breve descrição...">
        
        <label for="tipo">Tipo do projeto:</label>
        <select id="tipo">
            <option value="">Relatório Técnico</option>
            <option value="">Monografia</option>
            <option value="">Artigo Científico</option>
        </select>
    </form>
</body>
</html>