<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/Global.css">
    <link rel="stylesheet" href="/Cadastro.css">
    <title>Se cadastre</title>
</head>

<body>

    <div class="Cadastro-container">
        <a class="voltar" href="/">
            <p>⬅</p>
        </a>
        <h1>Cadastro</h1>
        <form id="cadastro" method="post">
            <input type="email" id="email" placeholder="Email" required>

            <input type="text" id="nome" placeholder="Seu nome completo" required>

            <label for="cargo">Sua função: </label>
            <select id="cargo">
                <option value="ALUN">Aluno</option>
                <option value="ORIE">Orientador</option>
            </select>

            <div class="input-senha">
                <input type="password" id="senha" placeholder="Insira sua senha..." required autocomplete="off"
                    minlength="8" oninput="verificaSenha()">

                <span class="verSenha" onclick="verSenha()">👁</span>
            </div>

            <input type="password" id="confirm" placeholder="Confirme sua senha..." required autocomplete="off"
                oninput="verificaSenha()">
            <p id="confirmPass"></p>

            <p id="message"></p>
            <button type="submit">Cadastrar</button>
        </form>
    </div>





    <script>
        function verSenha() {
            const senha = document.getElementById('senha');

            if (senha.type == 'text') {
                document.getElementById('senha').type = 'password';
                document.getElementById('confirm').type = 'password';
            } else {
                document.getElementById('senha').type = 'text';
                document.getElementById('confirm').type = 'text';
            }
        }

        function verificaSenha() {
            const senha = document.getElementById('senha').value;
            const confirm = document.getElementById('confirm').value;
            const msg = document.getElementById('confirmPass');

            if (senha !== confirm) {
                msg.textContent = 'As senhas não conhecidem!';
                msg.style.color = 'red';
            } else {
                msg.textContent = '';
            }
        }

        document.getElementById('cadastro').addEventListener('submit', function (e) {
            e.preventDefault();
            const email = document.getElementById('email').value;
            const nome = document.getElementById('nome').value;
            const cargo = document.getElementById('cargo').value;
            const senha = document.getElementById('senha').value;
            const confirm = document.getElementById('confirm').value;

            if (senha !== confirm) {
                alert('As senhas não coincidem!')
            } else {

                fetch('/cadastro', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email, nome, cargo, senha })
                })
                    .then(response => response.json())
                    .then(data => {
                        const messageDiv = document.getElementById('message');
                        if (data.success) {
                            messageDiv.style.color = 'rgb(0, 255, 0)';
                            messageDiv.innerHTML = `<p><strong>${data.message}</strong></p>`;
                            setTimeout(() => {
                                window.location.href = ('/login');
                            }, 3000)
                        } else {
                            messageDiv.style.color = 'red';
                            messageDiv.innerHTML = `<p"><strong>${data.message}</strong></p>`;
                        }
                    })
                    .catch(error => console.error('Erro ao salvar:', error));
            }
        })
    </script>
</body>

</html>