<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação Concluída!</title>
</head>
<body>
    <p><%= msg %></p>
    <p>Essa página pode ser fechada.</p>
</body>
</html>