<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convite</title>
</head>
<body>
    <h1><%= nomeP %></h1>
    <h2><%= descP %></h2>
    <h3><%= tipoP %></h3>
</body>
</html>