<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png" type="image/png">
    <title>Deletar projeto</title>
</head>

<body>
    <input type="email" id="email" placeholder="Insira seu email para continuar">
    <button onclick="enviar()">Enviar</button>
    <p id="message"></p>

    <script>
        function enviar() {
            const id = '<%= id %>';
            const email = document.getElementById('email').value;
            const message = document.getElementById('message');
            if (email == '<%= email %>') {
                fetch('/deletarProjeto', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert(data.message);
                            window.location.href = ('/home');
                        } else {
                            alert(data.message);
                        }
                    })
            } else {
                message.innerHTML = '<p>Seu email está incorreto!</p>'
            }
        }
    </script>
</body>

</html>