<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/Global.css">
    <link rel="stylesheet" href="/editarUsuario.css">
    <title>Editar Usuário</title>
</head>

<body>
    <div class="container">
        <a class="voltar" href="/home">
            <p>⬅</p>
        </a>
        <h1>Editar Perfil</h1>
        <form id="formEditarUsuario">
            <div class="form-group">
                <input type="text" placeholder="<%= nome %>" disabled>
                <input type="text" id="nome" placeholder="Digite algo..." maxlength="60" required>
                <button onclick="esconderNome()" type="button" id="nmButton">Esconder</button>
            </div>

            <div class="form-group">
                <input type="email" placeholder="<%= email %>" disabled>
                <input type="email" id="email" placeholder="Digite algo..." maxlength="70" required>
                <button onclick="esconderEmail()" type="button" id="emButton">Esconder</button>
            </div>

            <div class="form-group">
                <button type="submit">Enviar</button>
            </div>
        </form>

        <form id="formEditarSenha">
            <div class="form-group">
                <label for="senhaAntiga">Senha Antiga:</label>
                <input type="password" id="senhaAntiga" required>
            </div>

            <div class="form-group">
                <label for="senhaAtual">Nova Senha:</label>
                <input type="password" id="senhaAtual" minlength="8" required>
            </div>

            <div class="form-group">
                <label for="confirmSenha">Confirme sua nova senha:</label>
                <input type="password" id="confirmSenha" required>
            </div>

            <p id="messageError" class="message"></p>

            <div class="form-group">
                <button type="button" id="deletarConta" class="danger"><strong>Deletar Conta</strong></button>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>

    <script>
        function esconderNome() {
            const nomeInp = document.getElementById('nome');
            const nmBut = document.getElementById('nmButton');
            if (nomeInp.hidden) {
                nomeInp.hidden = false;
                nmBut.innerText = 'Esconder';
                nomeInp.setAttribute('required', '');

            } else {
                nomeInp.hidden = true;
                nomeInp.value = '';
                nmBut.innerText = 'Mostrar';
                nomeInp.removeAttribute('required');
            }
        }

        function esconderEmail() {
            const emailInp = document.getElementById('email');
            const emBut = document.getElementById('emButton');
            if (emailInp.hidden) {
                emailInp.hidden = false;
                emBut.innerText = 'Esconder';
                emailInp.setAttribute('required', '');

            } else {
                emailInp.hidden = true;
                emailInp.value = '';
                emBut.innerText = 'Mostrar';
                emailInp.removeAttribute('required');
            }
        }

        document.getElementById('formEditarUsuario').addEventListener('submit', async function (e) {
            e.preventDefault();

            const nome = document.getElementById('nome').value;
            const email = document.getElementById('email').value;
            const senha = '<%= senha %>'

            try {
                const response = await fetch('/editarUsuario', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nome, email })
                });

                if (response.ok) {
                    const data = await response.json();
                    alert(data.mensagem);
                    window.location.href = ('/home');
                } else {
                    const erro = await response.json();
                    alert(erro.mensagem || 'Erro ao enviar.');
                }
            } catch (err) {
                console.error(err);
            }
        });

        document.getElementById('formEditarSenha').addEventListener('submit', async function (e) {
            e.preventDefault();

            const senhaAntiga = document.getElementById('senhaAntiga').value;
            const senhaAtual = document.getElementById('senhaAtual').value;
            const confirmSenha = document.getElementById('confirmSenha').value;
            const msg = document.getElementById('messageError');

            if (senhaAtual !== confirmSenha) {
                msg.innerHTML = 'Senhas não coincidem!';
            } else {
                msg.innerHTML = '';
                try {
                    const response = await fetch('/editarSenha', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ senhaAntiga, senhaAtual })
                    });
                    if (response.ok) {
                        const data = await response.json();
                        msg.innerHTML = (data.mensagem);
                        window.location.href = ('/home');
                    } else {
                        const erro = await response.json();
                        msg.innerHTML = (erro.mensagem || 'Erro ao enviar.');

                    }
                } catch (err) {
                    console.error(err);
                }
            }
        });

        document.getElementById('deletarConta').addEventListener('click', async function (e) {
            e.preventDefault();
            const email = '<%= email %>';

            try {
                const response = await fetch('/emailDeletarUsuario', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email })
                });

                if (response.ok) {
                    const data = await response.json();
                    alert(data.mensagem);
                    window.location.href = ('/')
                } else {
                    const erro = await response.json();
                    alert(erro.mensagem || 'Erro ao enviar.');
                }
            } catch (err) {
                console.error(err);
            }
        });
    </script>
</body>

</html>