<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png" type="image/png">
    <title>Bem-Vindo!</title>
</head>
<body>
    <!-- FALTA COLOCAR O CADASTRO!-->
    <div>
        <h1>Seja Bem-Vindo/a!</h1>
    </div>

    <a href="/login"><button><p>Login</p></button></a>
    
    <a href="/cadastro"><button><p>Cadastro</p></button></a>
    
</body>
</html>