<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="stylesheet" href="/Global.css">
  <link rel="stylesheet" href="/pi.css">
  <title>TCC Mentor</title>
</head>

<body>


  <div class="navbar">
    <div class="logo">
      <img src="/favicon.png" alt="TCC Mentor Logo">
    </div>
    <div class="buttons">
      <a href="/login" class="login">Login</a>
      <a href="/cadastro" class="cadastrar">Cadastrar</a>
    </div>
  </div>

  <br>
  <main>
    <section class="intro">
      <h2>Plataforma de Acompanhamento de TCC</h2>
      <p>Gerencie, monitore e desenvolva seu Trabalho de Conclusão de Curso (TCC)
        com eficiência e organização, simplificando todo o processo
        desde a elaboração até a entrega final.</p>
    </section>

    <section class="alunos">
      <h3> Para Alunos:</h3>
      <p> A plataforma permite cadastrar seu TCC com prazos e etapas bem definidas,
        facilitando o cumprimento de cronogramas. Você pode organizar entregas parciais, como capítulos,
        reuniões com orientadores e revisões, além de enviar arquivos específicos para cada fase
        e acompanhar seu status em tempo real.</p>
    </section>

    <section class="orientadores">
      <h3> Para Orientadores:</h3>
      <p> Tenha uma visão clara do progresso de cada orientando, com a possibilidade de enviar feedbacks
        diretamente na plataforma. Marque etapas como concluídas ou pendentes, adicione comentários
        detalhados e acompanhe o desenvolvimento do trabalho de forma centralizada e eficiente.</p>
    </section>

    <section class="funcionalidades">
      <h3> Funcionalidades:</h3>
      <ul>
        <p> A plataforma oferece cadastro diferenciado para alunos e orientadores, criação de TCCs com etapas
          personalizáveis e upload de arquivos por fase. Inclui ainda um sistema de comentários e revisões,
          alertas automáticos de prazos e atualização instantânea do status de cada etapa,
          garantindo maior controle e produtividade.</p>
    </section>
  </main>

</body>

</html>